<aside th:fragment="sidebar">
    <nav class="sidebar sidebar-open">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link " href="/"> <i
                    class="oi oi-home"></i> <span>Início</span>
            </a></li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item"><span class="nav-link bg-danger active">Navegação</span></li>
            <li class="nav-item">
                <a class="nav-link" href="/filiais/listar">
                    <i class="oi oi-caret-right"></i>
                    <span>Pedidos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/usuarios/listar">
                    <i class="oi oi-caret-right"></i>
                    <span>Usuários</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/produtos/listar">
                    <i class="oi oi-caret-right"></i>
                    <span>Produtos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes/listar">
                    <i class="oi oi-caret-right"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/forma_pagamento/listar">
                    <i class="oi oi-caret-right"></i>
                    <span>Formas de Pagamentos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/estoques/listar">
                    <i class="oi oi-caret-right"></i>
                    <span>Estoques</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>